@media (max-width: 1440px) {
  header {
    padding: 2rem 9%;
  }

  .navbar {
    gap: 0;
  }

  section {
    padding: 2rem 9%;
  }

  .hero-section .hero-content {
    text-align: left;
    margin-left: -45px;
    padding: 20px 0%;
  }

  .hero-section .hero-image-container img {
    width: 60vw;
    margin: 0 8%;
  }

  .hero-section-2 .L2-bg-img {
    top: 0;
    left: 0;
  }

  .hero-section-4 .hero-image-container img,
  .hero-section-9 .hero-image-container img {
    width: 40vw;
    margin-right: 10rem;
    margin-left: -3rem;
  }

  .plan-section {
    padding: 2% 0;
  }

  .plan-section .plan-container {
    gap: 4rem;
    padding: 5% 2%;
  }

  .plan-section .plan-card {
    width: 100%;
  }

  .l6-contianer .l6-bg-img {
    width: 40%;
    top: -10rem;
    left: -18rem;
    bottom: -20px;
  }

  .footer-container .footer-content {
    padding: 2% 2% 0 0;
    gap: 0.6rem;
    text-align: left;
  }

  .footer-container .footer-content .overview-list {
    gap: 5rem;
  }

  .l8-container .sponsor-container {
    padding: 2rem 5%;
  }

  .l8-container .sponsor-container .sponsor-logos {
    max-height: 10px;
  }

  .review-section-container img,
  .info {
    margin-top: -2rem;
  }

  .review-section-container .info {
    margin-left: -10px;
    text-align: left;
  }

  .review-section-container .clients-info img {
    margin-bottom: 3rem;
  }

  .review-section-container .info p {
    font-size: 15px;

    font-weight: 300;
    letter-spacing: 1px;
  }
}

@media (max-width: 1220px) {
  html {
    font-size: 70%;
  }
   

  .navbar .inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 40vh;
    background-color: #0c4c9b;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0;
  }

  .nav-links.active {
    max-height: 100vh;
    padding: 20px;
    border-bottom-left-radius: 30px;
  }



  .dropbtn {
    background-color: #0c4c9b;
    color: black;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    padding: 20px;
    border: none;
  }
  .dropdown .dropbtn {
    background-color: transparent;
    
  }

  .dropdown-content {
    display: none;
    position: static;
    color: black;
    width: 100%;
    padding-left: 20px;
    
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown-content a {
    padding: 10px;
    display: block;
    font-weight: 600;
    background-color: #043873;
    color: white;
    text-decoration: none;
    
  }

  .dropdown-content a:hover {
    background-color: transparent;
    color: black;
  }

 

 

  

  .navbar .menu-icon {
    display: block;
    cursor: pointer;
    color: white;
    flex-direction: row;
  }

  #menuList {
    transition: all 0.5s;
    width: 40%;
    height: 720px;
  }

  .hero-section .hero-image-container img {
    width: 38vw;
  }

  .hero-section-2 .hero-content-2 p {
    font-size: 1.3rem;
  }

  .hero-section-4 .hero-image-container img,
  .hero-section-9 .hero-image-container img,
  .hero-section-2 .hero-image-container img,
  .hero-section-3 .hero-image-container img {
    width: 40vw;
  }

  .change .fix {
    margin-left: 2rem;
  }

  .change .hero-image-container img {
    margin-left: -20px;
  }

  .review-section-container .review-cards {
    text-align: center;
  }

  .review-section-container .review-cards p {
    font-size: 1.5rem;
  }

  .review-section-container .clients-info {
    margin: 0;
    padding: 0 2%;
    margin-top: 2rem;
  }

  .review-section-container .clients-info img {
    max-height: 7rem;
  }

  .review-section-container .clients-info .info h3 {
    text-align: left;
    margin-left: 10px;
    font-size: 1.8rem;
  }

  .sponsor-container .sponsors-logos {
    margin: 0;
    padding: 0 4%;
    gap: 5.5rem;
  }

  .sponsor-container .sponsors-logos img {
    max-height: 4rem;
  }

  .footer-container .footer-content .overview-list {
    gap: 2rem;
    margin-left: 20px;
  }

  .footer-content .start-today {
    margin-left: 30px;
  }

  .footer-content .logo-contanier p {
    font-size: 1.4rem;
    text-align: left;
  }

  .hero-section-2 .L2-bg-img {
    width: 30%;
    top: 9rem;
    left: -20rem;
  }

  .btm-content {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  section {
    padding: 2% 2%;
    flex-direction: column;
    text-align: center;
  }
  
 

 
 
  .navbar .desktop-side-btns{
    display: none;
  }

  .nav-links .menu-side-btns{
    display: block !important;
    text-align: left;
    padding: 0 5%;
    margin-top: 2rem;
   
   
  }

  .nav-links .menu-side-btns .try-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
   
  }
  .nav-links .menu-side-btns .login-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    
  }

  .nav-links .menu-side-btns .try-btn {
    margin-left: 10px;
    margin-top: 2rem;
    text-align: left;
    margin-left: -5px;
    gap: 1rem;
    
  } 

   #menuList {
    transition: all 0.5s;
    width: 50%;
    height: 600px;
  }

 
  

  .hero-section .hero-content {
    text-align: center;
    max-width: 620px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  .hero-section .hero-content h1 {
    font-size: 3.6rem;
  }

  .hero-section .hero-content p {
    font-size: 1.2rem;
  }

  .hero-section .hero-image-container img {
    width: 43vh;
    margin-right: 8rem;
  }

  .hero-section-1 .bg-img {
    position: absolute;
    opacity: 10;
    transform: scale(12);
    left: 0;
    bottom: -4rem;
    width: 20%;
    height: 800px;
  }

  .hero-section-2 .L2-bg-img {
   
    position: absolute;
    left: 0;
    top: 0;
    opacity: 10;
  }

  .hero-section-2 .hero-image-container img {
    margin-top: -8rem;
  }
  .change{
    flex-direction: column-reverse;
  }
  .change .edited {
    margin: 8rem 0 0 8rem;
  }

  .change .fix{
    margin-top: -2rem;
    margin-right: 4rem;
  }

  .hero-section-3 .hero-image-container img{
    border-radius: 40px;
    margin-top: 2rem;
  }

  .hero-section-4 .hero-image-container img{
    margin-left: 4rem;
    border-radius: 40px;
  }

  
  .plan-container .plan-card{
    padding: 30px 20px;
    text-align: left;
    width: fit-content;
    font-size: 10px;
    padding: 20px;
    
  }

  .l6-content {
    max-width: 600px;
    text-align: left;
    margin-left: -2rem;
    padding: 0 3%;
  }

  .l6-contianer .l6-content h1{
    text-align: left;
  }
  .l6-contianer .l6-content p{
    text-align: left;
    margin-left:0
  }

  .hero-section-7{
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .l8-container{
    flex-direction: column;

  }

  .sponsor-container{
    max-width: 100%;
    text-align: center;

  }

  .sponsors-logos{
    flex-direction: column;
    justify-content: center ;
    gap: 1rem;
  }


  .hero-section-9 .hero-image-container {
   
    width: 28vh;
  }

  .hero-section-9 .bg-img {
    position: absolute;
    opacity: 10;
    transform: scale(12);
    left: 0;
    bottom: -4rem;
    width: 20%;
    height: 800px;
  }


  .free-trail-section .free-trail-content{
   
    max-width: 520px;
    text-align: left;
    margin-left: -20px;
    margin-top: 1rem;
  }

  .app-icons-container .app-icons-logos{
    text-align: left;
    margin-left: -17rem;
  }

  .footer-container .footer-content{
    flex-direction: column;
    margin-top: -12rem;

  }
  .logo-contanier{
    margin-left:4rem;
    margin-bottom: 5rem;
    transform: scale(1.3);
  }

  .footer-content .overview-list{
    flex-direction: column;
    margin-bottom: 4rem;
    
  
  }

  .footer-content .overview-list ul{
    margin-bottom: 4rem;
  }


  .overview-list ul li a, h4{
    margin-left: -2rem;
    
  }

  .footer-content .start-today{
    margin-left: .6rem;  
  }

  .btm-content .footer-left-group{
    font-size: 15px;
  }

  .btm-content .footer-end-logos{
    margin-top: 1.5rem;
  }

  .cards-container .review-cards{
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px; 
  }


  

}


@media (max-width:420px){
  html{
    font-size: 55%;
  }

   #menuList {

    transition: all 0.5s;
    width: 65%;
    height: 600px;
  }


  
  .hero-section  p{
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .plan-content,.l6-content{
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .hero-section .hero-content {
    text-align: center;
    max-width: 420px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  .hero-section .hero-content h1 {
    font-size: 4rem;
  }

  .hero-section .hero-content p {
    font-size: 1.9em;
  }

  .hero-section .hero-image-container img {
    width: 24vh;
    margin-right: 8rem;
    padding: 0 5% 0 2%;
  }

  .hero-section-2 .hero-content-2 p{
    text-align: center;
   

  }

  .change .edited img{
    width: 20vh;
    padding: 0 5%;
  }

  .change .fix {
   
    padding: 0 5%;
    width: 320px;
  }

  .change .fix p{
    margin-top: 30px;

  }

  .hero-section-3 .hero-content-3{
    margin-top: -20px;

  }

  .hero-section-3 .hero-image-container img  {
      width: 20vh;
  }
  .hero-section-4 .hero-image-container img{
    width: 20vh;
    padding: 0 10%;
  }

  .hero-section-4 .hero-content-4 p{
    font-weight: 300;
    margin-top: 30px;
  }

  .l6-content {
    max-width: 420px;
    text-align: left;
    margin-left: -0rem;
    padding: 0 3%;
  }

 
  .hero-section-7 .hero-image-container img{
    width: 23vh;

  }

  .hero-section-9 .hero-image-container img{
    width: 20vh;
    padding: 0 10%;
    margin-left:10px ;

  }

  .free-trail-section p{
    font-size: 1.9rem;
    margin-top: 15px;
  }

  .free-trail-section .free-trail-content{
   
    max-width: 320px;
    gap: 1rem;
    text-align: left;
    margin-left: -20px;
    padding: 0 10%;
    margin-top: 1rem;
  }

  .app-icons-container .app-icons-logos{
    text-align: left;
    margin-left: -4rem;
    margin-top: 1.5rem;
    
  }

  .app-icons-container .app-icons-logos img {
    max-height: 4.6rem;
    text-align: left;
  }

  .footer-container .footer-content{
    flex-direction: column;
    max-width: 380px;
    font-size: 1.5rem;
    align-items: center;
    padding: 2% 0;

  }
  .footer-content .logo-contanier{
    padding: 0 3%;
    margin-right: 3rem;
    
  }

  .footer-content .logo-contanier p{
    text-align: center;
    max-width: 230px;
    font-size: 1.8rem;
  }
  
  .footer-content .overview-list {
    text-align: center;
    font-size: 1.9rem;
    padding: 0 10%;
  }

  .footer-content .overview-list ul li h4,  li a{
    font-size: 2rem;
  }

 .footer-content .start-today {
  max-width: 230px;
  text-align: center;
 }

 .footer-content .start-today h3{
  font-size: 3rem;
 }

 .footer-content .start-today p{
  font-size: 1.9rem;
 }

  .btm-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
   }


  .footer-left-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
  }


   .footer-left-group #footer-language {
    font-size: 2.3rem;
    margin-top: 1rem;
    margin-left: 20px;
    
   }


  .footer-links {
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    
  }

  .footer-copy{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-left:10px;
  }

  .footer-links a{
    margin-top: 30px;

  }

  .footer-end-logos a img{
    height: 2.4rem;
   
    
  }

  .l6-content .underline-wrapper img{
    position: absolute;
    left: 0;
    
    
    width: 96%;
    
    
  }

 
  
}


  
 






